<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.DateValueMapper">
<!--    查找镜像使用数-->
    <select id="getImageUseCount" resultType="com.cloud.DTO.DateImageUseCount">
        select date_time,image_use_count,user_id from date_value
        where date_time between #{startTime} and #{nowTime} and user_id = #{userId}
    </select>
<!--    查找桌面-->
    <select id="getCount" resultType="Integer">
        select desk_count from date_value where date_time between #{yesterday} and #{dateTime} and user_id = #{userId}
    </select>

    <select id="getSumAndUse" resultType="com.cloud.DTO.DateSumAndUseDto">
        select date_time,user_id,desk_count sumNum,desk_use useNum from
    date_value where date_time between #{useTime} and #{nowTime}
    </select>
</mapper>
