<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.ImageMapper">

<!--    官方所有镜像-->
    <select id="getAllOfficial" resultType="com.cloud.DTO.ImageDto">
        select  distinct image_table.image_id,image_name,image_system,image_introduce
                       ,image_label.recommended_id,recommended_cpu,recommended_memory,
                        recommended_data_disk,image_remark,image_table.user_id
        from image_table,recommended_table,image_label
        <where>
            image_table.image_id = image_label.image_id
            and recommended_table.recommended_id = image_label.recommended_id
            and image_table.source=0
            <if test="imageName != null and imageName !='' ">
                and image_table.image_remark like concat('%',#{imageName},'%')
            </if>
            <if test="imageSystem != null">
                and image_table.image_system= #{imageSystem}
            </if>
            <if test="recommendedCpu != null">
                and recommended_table.recommended_cpu= #{recommendedCpu}
            </if>
            <if test="recommendedMemory != null">
                and recommended_table.recommended_memory = #{recommendedMemory}
            </if>
            <if test="recommendedDataDisk!= null">
                and recommended_table.recommended_data_disk = #{recommendedDataDisk}
            </if>
            <if test="labelName != null">
                and (image_table.image_id,image_label.recommended_id) in(select image_label.image_id,image_label.recommended_id
                from image_label,label_table
                where image_label.label_id=label_table.label_id
                and label_table.label_name in
                 <foreach collection="labelName" item="label" open="(" separator="," close=")">
                 #{label}
                 </foreach>
                 group by image_id,recommended_id
                having count(image_id)=#{count}
                )
            </if>
        </where>
    </select>


<!--    推荐镜像-->
    <select id="getRecommended" resultType="com.cloud.DTO.ImageDto">
        select distinct image_table.image_id,image_remark,image_name,image_system,image_introduce
                      ,image_label.recommended_id,recommended_cpu,recommended_memory
                      ,recommended_data_disk,image_table.user_id
        from image_table,recommended_table,image_label where
            image_table.image_id = image_label.image_id
            and image_label.recommended_id = recommended_table.recommended_id
            and image_table.source=0
            and recommended_table.recommended_id = #{recommendedId}
    </select>
<!--    用户镜像-->
    <select id="getAllUser" resultType="com.cloud.DTO.ImageDto">
        select  distinct image_table.image_id,image_name,image_system,image_introduce
        ,image_label.recommended_id,recommended_cpu,recommended_memory
                       ,recommended_data_disk,image_remark,image_table.user_id
        from image_table,recommended_table,image_label
        <where>
            image_table.image_id = image_label.image_id
            and recommended_table.recommended_id = image_label.recommended_id
            and image_table.source=1
            <if test="imageName != null and imageName !='' ">
                and image_table.image_remark like concat('%',#{imageName},'%')
            </if>
            <if test="imageSystem != null">
                and image_table.image_system= #{imageSystem}
            </if>
            <if test="recommendedCpu != null">
                and recommended_table.recommended_cpu= #{recommendedCpu}
            </if>
            <if test="recommendedMemory != null">
                and recommended_table.recommended_memory = #{recommendedMemory}
            </if>
            <if test="recommendedDataDisk!= null">
                and recommended_table.recommended_data_disk = #{recommendedDataDisk}
            </if>
            <if test="labelName != null">
                and (image_table.image_id,image_label.recommended_id) in(select image_label.image_id,image_label.recommended_id
                from image_label,label_table
                where image_label.label_id=label_table.label_id
                and label_table.label_name in
                <foreach collection="labelName" item="label" open="(" separator="," close=")">
                    #{label}
                </foreach>
                group by image_id,recommended_id
                having count(image_id)=#{count}
                )
            </if>
        </where>
    </select>

    <select id="selectImageName" resultType="String">
        select image_name from  image_table where image_system=#{imageSystem} limit 1
    </select>

<!--    查询系统-->
    <select id="getSystem" resultType="String">
        select distinct image_system from  image_table
    </select>

<!--    查询个人镜像-->
    <select id="getIndividualImage" resultType="com.cloud.DTO.ImageDto">
        select  distinct image_table.image_id,image_name,image_system,image_introduce
        ,image_label.recommended_id,recommended_cpu,recommended_memory
                       ,recommended_data_disk,image_remark,image_table.user_id
        from image_table,recommended_table,image_label
        <where>
            image_table.image_id = image_label.image_id
            and recommended_table.recommended_id = image_label.recommended_id
            and image_table.user_id = #{userId}
            and image_table.source= 1
            <if test="imageName != null and imageName !='' ">
                and image_table.image_remark like concat('%',#{imageName},'%')
            </if>
            <if test="imageSystem != null">
                and image_table.image_system= #{imageSystem}
            </if>
            <if test="recommendedCpu != null">
                and recommended_table.recommended_cpu= #{recommendedCpu}
            </if>
            <if test="recommendedMemory != null">
                and recommended_table.recommended_memory = #{recommendedMemory}
            </if>
            <if test="recommendedDataDisk!= null">
                and recommended_table.recommended_data_disk = #{recommendedDataDisk}
            </if>
            <if test="labelName != null">
                and (image_table.image_id,image_label.recommended_id) in(select image_label.image_id,image_label.recommended_id
                from image_label,label_table
                where image_label.label_id=label_table.label_id
                and label_table.label_name in
                <foreach collection="labelName" item="label" open="(" separator="," close=")">
                    #{label}
                </foreach>
                group by image_id,recommended_id
                having count(image_id)=#{count}
                )
            </if>
        </where>
    </select>
<!--        修改使用次数-->
    <update id="addUse">
        update image_table
        set image_table.image_use_count=image_table.image_use_count+1
        where image_id=#{imageId}
    </update>
<!--查询每日使用数量-->
    <select id="selectListCount" resultType="com.cloud.DTO.DateImageUseCount">
        select now() date_time,sum(image_use_count) image_use_count, user_id from image_table
        group by user_id
    </select>
<!--根据时间排序获取到最后一个-->
    <select id="getEndPort" resultType="Integer">
        select pod_port from pod_controller_table order by create_time limit 1
    </select>
</mapper>