<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.ImageMapper">

<!--    官方所有镜像-->
    <select id="getAllOfficial" resultType="com.cloud.DTO.ImageDto">
        select * from image_table,recommended_table,image_recommended
        <where>
            image_table.image_id = image_recommended.image_id
            and image_recommended.recommended_id = recommended_table.recommended_id
            and image_table.source=0
            <if test="imageName != null and imageName !='' ">
                and image_table.image_name like concat('%',#{imageName},'%')
            </if>
            <if test="imageSystem != null">
                and image_table.image_system= #{imageSystem}
            </if>
            <if test="recommendedCpu != null">
                and recommended_table.recommended_cpu= #{recommendedCpu}
            </if>
            <if test="recommendedMemory != null">
                and recommended_table.recommended_memory = #{recommendedMemory}
            </if>
            <if test="recommendedSystemDisk != null">
                and recommended_table.recommended_systemDisk = #{recommendedSystemDisk}
            </if>
            <if test="recommendedDataDisk!= null">
                and recommended_table.recommended_dataDisk = #{recommendedDataDisk}
            </if>
            <if test="labelName != null">
                and image_table.image_id in(select image_label.image_id from image_label,label_table
                where image_label.label_id=label_table.label_id
                and label_table.label_name in
                 <foreach collection="labelName" item="label" open="(" separator="," close=")">
                 #{label}
                 </foreach>
                 group by image_id
                having count(image_id)=#{count})
            </if>
        </where>
    </select>
<!--    推荐镜像(没写完)-->
    <select id="getRecommended" resultType="com.cloud.DTO.ImageDto">
        select * from image_table,recommended_table,image_recommended where
            image_table.image_id = image_recommended.image_id
            and image_recommended.recommended_id = recommended_table.recommended_id
            and image_table.source=0
            and recommended_table.recommended_id = #{recommendedId}
    </select>
<!--    用户镜像-->
    <select id="getAllUser" resultType="com.cloud.DTO.ImageDto">
        select * from image_table,recommended_table,image_recommended
        <where>
            image_table.image_id = image_recommended.image_id
            and image_recommended.recommended_id = recommended_table.recommended_id
            and image_table.source=1
            <if test="imageName != null and imageName !='' ">
                and image_table.image_name like concat('%',#{imageName},'%')
            </if>
            <if test="imageSystem != null">
                and image_table.image_system= #{imageSystem}
            </if>
            <if test="recommendedCpu != null">
                and recommended_table.recommended_cpu= #{recommendedCpu}
            </if>
            <if test="recommendedMemory != null">
                and recommended_table.recommended_memory = #{recommendedMemory}
            </if>
            <if test="recommendedSystemDisk != null">
                and recommended_table.recommended_systemDisk = #{recommendedSystemDisk}
            </if>
            <if test="recommendedDataDisk!= null">
                and recommended_table.recommended_dataDisk = #{recommendedDataDisk}
            </if>
            <if test="labelName != null">
                and image_table.image_id in(select image_label.image_id from image_label,label_table
                where image_label.label_id=label_table.label_id
                and label_table.label_name in
                <foreach collection="labelName" item="label" open="(" separator="," close=")">
                    #{label}
                </foreach>
                group by image_id
                having count(image_id)=#{count})
            </if>
        </where>
    </select>
</mapper>