<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.LabelMapper">
    <select id="getlabel" resultType="String">
        select label_name from label_table ,image_label
        where label_table.label_id = image_label.label_id
        and image_label.image_id = #{imageId}
        and image_label.recommended_id=#{recommendedId}
    </select>

    <select id="getLabelId" resultType="Integer">
    select label_id from label_table where label_name = #{labelName}
    </select>

</mapper>