<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.mapper.PodControllerMapper">
    <insert id="insert" parameterType="com.cloud.entity.PodController">
        INSERT INTO pod_controller_table
            (pod_controller_name, container_state,container_name,image_id,
             user_id,network_id,ip_address,pod_controller_cpu,pod_controller_memory,pod_controller_dataDisk,pod_controller_version,pod_port)
        VALUES (#{podControllerName},#{containerState},#{containerName},#{imageId},#{userId},#{networkId},#{ipAddress},#{podControllerCpu},#{podControllerMemory},#{podControllerDataDisk},#{podControllerVersion},#{podPort})
    </insert>

<!--    获得使用中+关闭中-->
    <select id="getDeskTopControl" resultType="Integer">
        select count(*)
        from pod_controller_table
        <where>
            container_state =#{containerState}
            <if test="userId !=null ">
                and user_id = #{userId}
            </if>
        </where>
    </select>
<!--    获得桌面数量-->
    <select id="getDeskTopCount" resultType="com.cloud.DTO.DateDeskCount">
        select user_id ,count(*) desk_count,now() date_time
        from pod_controller_table
        group by user_id
    </select>

<!--    获得总数和使用数-->
    <select id="getUseDeskTop" resultType="com.cloud.DTO.DateSumAndUseDto">
        select user_id,count(*) sum_num,now() date_time
             ,count(case when update_time between #{startTime} and #{nowTime} then 1 end) use_num
        from pod_controller_table
        group by user_id
    </select>
</mapper>